body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(5, 0, 0);
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#gameOverModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#gameOverModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}
.modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-buttons > a {
   text-decoration: none;
}
#gameOverModal .modal-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#gameOverModal button {
    /* margin: 0 10px; */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* margin-left: 40px; */
    margin-right: 10px;
}

