body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#gameOverModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#gameOverModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}
.modal-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-buttons > a {
   text-decoration: none;
}
#gameOverModal .modal-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#gameOverModal button {
    /* margin: 0 10px; */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    /* margin-left: 65px; */
    margin-right: 10px;
}


